.center{
  margin: 0;
  position: absolute;
  margin-top: 20%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 30% ;
  height:auto; 
  font-family: 'Electrolize', sans-serif;

}
.center p{
  margin-top: auto;
  color: red;
}
.login_error_msg{
    text-align: center;
}
.login_logo{
  margin-top: -35%;
  font-family: 'Electrolize', sans-serif;
  font-size: 45px;
  font-weight: 900;
  text-align: center;

} 
.btn{
  margin-top: 10%;
  width: 105%;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  height: 30px;
  font-family: 'Electrolize', sans-serif;
  font-weight: 900;
  border-style: none;
  
}
.btn:hover{
  background-color: rgb(216, 13, 13);
  font-family: 'Electrolize', sans-serif;
}

.form-input{
  width: 100%;
  height: 30px;
}