<title>ABOUT THIS SITE</title>

<link href = "about.css" rel= "stylesheet" type = "text/css" >


<div id="about">
	<span>Information About The Website:</span>
	<p>This Website Is All About Gaming And Its Made For Gamers Like Me And You No Matter On What Platform You Play On (PC, PS4, XBOX, SWITCH And MOBILE) We Got All The Latest News About Your Favorite Games Here All In One Place.</p>	
</div>	