<title>CONTACT</title>

<link href = "/CSS/contact.css" rel= "stylesheet" type = "text/css" >

<div id="contact_us">
    <div id="contact_top_text">
        <p>CONTACT US AT:</p>
    </div>
    <div id="contact_information">	
        <li>EMAIL: Raswer3@gmail.com</li>
        <br>
        <li>PHONE: 0729411130</li>
        <br>
        <li>ADDRESS: Gjuterigatan 5, 553 18, Jönköping</li>
    </div>		
</div>