
<link href = "staffs.css" rel= "stylesheet" type = "text/css" >



<title>CREATE A STAFF</title>

<div id="user_section">
	<h1>CREATE A STAFF</h1>
	{{> errors errors}}
		{{#if dbErrorOccurred}}
			<p class="admin_top">Can't display the page now, try again later.</p>
		{{/if}}
		<form action="" method="POST">
			<input type="hidden" name="_csrf" value="{{csrfToken}}">
			<div>
				Name: <input type="text" name="name" value="{{name}}">
			</div>
			<div id="position">
				Position: <input type="name" name="position" value="{{position}}">
			</div>
			<div id="years">
				Experience Years:<input type="number" name="yearOfExperince" value="{{yearOfExperince}}">
			</div>
			<div id="submit_update">
			<input class="submit_update_btn" type="submit" value="CREATE">
			</div>
		</form>
</div>