<link href = "marvel.css" rel= "stylesheet" type = "text/css" >
<title>MARVEL AVENGERS</title>
<div id="game">
   <span>Marvel Avengers</span>  
   <img src="marvel.jpg" class="marv">
   <p>Marvel's Avengers is an action-adventure video game developed by Crystal Dynamics and published by Square Enix. Based on the Marvel Comics superhero team the Avengers, the game is inspired by the long-running comic book mythology and adaptations in other media. The game's main storyline takes place five years after A-Day, a celebratory day for the Avengers wherein a tragedy resulted in death and destruction, and the Avengers were blamed. The team is forced to reassemble to save the world from peril in the form of A.I.M. led by George Tarleton / M.O.D.O.K., which threatens ending the world from superpowers.
      Gameplay is presented from a third-person perspective and can be playable in both single-player and multiplayer; the game features an online co-op mode, allowing players to assemble a team of heroes of their own. The initial playable characters are Steve Rogers / Captain America, Tony Stark / Iron Man, Bruce Banner / Hulk, Thor, Natasha Romanoff / Black Widow, and Kamala Khan / Ms. Marvel, with more becoming available to players post-launch as free updates, which also includes new regions to be explored. Each hero possess a variety of costume customization features, as well as the capacity to upgrade their powers and abilities using a skill tree.
   </p>
</div>
<div id="storeInfo">
   <div id="buy">
      <p>Available At:</p>
   </div>
   <div id="shop">
      <a href="https://store.steampowered.com/app/997070/Marvels_Avengers/"><img src="steam.png" class="img-responsive"></a> 
      <a href="https://www.xbox.com/en-US/games/marvels-avengers"><img src="xbox.png" class="img-responsive-xbox"></a>
      <a href="https://www.playstation.com/en-us/games/marvels-avengers-ps4/"><img src="ps4.png" class="img-responsive"></a>
   </div>
   <div id="playable">
      <p>Playable On:</p>
      <br>
      <p>PC / XBOX ONE / PS4</p>
   </div>
</div>
</body>
</html>